.App {
  text-align: center;
  align-items: center;
}

h1{
  margin: 5vh;
}

p{
  margin-left: 250px;
  margin-right: 250px;
  font-size: xx-large;
}

div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

img{
  width: 50vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

button{
  font-size: large;
  padding: 20px;
  margin-top: 5vh;
  margin-bottom: 5vh;
}